
/* Cosas en común entre los 3 html */
@font-face {
  font-family: 'AviciiText1';
  src: url('../fonts/VerminVibes2Soft-grr4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AviciiText2';
  src: url('../fonts/Avicii-lOn5.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-tittle-1: 'AviciiText1', sans-serif;
  --font-tittle-2: 'AviciiText2', sans-serif;
  --text-font: 'Lato', sans-serif;
}

/* Desktop */
p {
  font-family: var(--text-font);
  font-size: clamp(14px, 1.5vw, 18px);
  color: #FFFFFF;
  text-align: center;
}

h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url('../img/fondo header.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 7em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 1000;
}

#logo-menu{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu img {
  height: 50%;
  width: auto;
  object-fit: cover;
}

#nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);  
}

#nav-menu > div:first-child > i,
#nav-menu > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul {
  display: flex;
  gap: 3em;
}

#nav-menu a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(12px, 2vw, 14px);
  font-family: 'Lato', sans-serif;
  /* font-weight: 700 !important; */
  
}

.link{
  color: rgb(255, 255, 255);
}

.current_page{
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#nav-menu a:hover {
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#only-section {
  width: 100%;
  /* height: 600vh; */
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  transition: opacity 2s ease-out;
}

#only-section.visible {
  opacity: 1;
}

.info {
  /* background-image: url(../img/who-was-avicii.png); */
  /* height: 100vh; */
  /* margin-top: 15em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 17vw;
  margin-right: 17vw;
}

#inicio{
  /* width: 100%; */
  height: 100vh;
  }

#who, #fest, #where, #djs {
  margin-top: 5em;
  margin-bottom: 5em;
}

#only-section > div h1, h2{
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

#only-section > div .tipo1{
  font-size: clamp(2rem, 7.5vw, 5.5rem);
}

#only-section > div .tipo2{
  font-size: clamp(2.5rem, 8vw, 6rem);
}

.tipo1 {
  font-family: var(--font-tittle-1);
}

.tipo2 {
  font-family: var(--font-tittle-2);
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

.tipo3 {
  font-family: var(--text-font);
  font-size: clamp(1rem, 3vw, 2rem);
  margin-top: 1em;
}

.info h2 {
  font-family: var(--font-tittle-1);
  font-size: 2em;
  color: #FFFFFF;
  margin-bottom: 0.5em;
  text-align: center;
}

.mirror {
  display: inline-block;
  transform: scaleX(-1);
  margin: 0 2px 0 -2px;
  
}

#mirror1 {
  margin: 0 4px 0 -4px;
}

.rainbow {
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
  margin-right: 0.25em;
}

.alt-font {
  font-family: var(--font-tittle-2);
  margin-left: 8px;
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#where h2, #djs h2 {
   background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

@keyframes gradientShift {
  0% { background-position: 0%; }
  100% { background-position: 100%; }
}

#who img {
  width: 50%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius:5%
}

#fest img {
  width: 70%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius:5%
}

#location{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 60vh;
  width: 80%;
}

#location iframe {
  width: 100%;
  height: 100%;
  border-radius:5%
}

#text{
  margin-top: 2em;
  margin-bottom: 10em;
}

.djs-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.dj-card {
  position: relative;
  width: 100%;
  max-width: 15em;
  border-radius: 20px;
  overflow: hidden;
  text-decoration: none;
  display: block;
}

.dj-card::before {
  width: 100%;
  max-width: 15em;
  overflow: hidden;
  content: '';
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at 20% 20%, #ff0050 0%, transparent 50%), radial-gradient(circle at 80% 80%, #00ffed 0%, transparent 50%), radial-gradient(circle at 20% 80%, #ffed00 0%, transparent 50%), radial-gradient(circle at 80% 20%, #9b00ff 0%, transparent 50%);
  opacity: 0;
  transition: opacity 0.5s ease, transform 5s ease;
  z-index: 0;
}

.dj-card:hover::before {
  opacity: 1;
  transform: scale(1.1);
}

.dj-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;
  position: relative;
  z-index: 1;
}

.card-tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: var(--font-tittle-1);
  font-size: clamp(1em, 3vw, 1.5em);
  font-weight: bold;
  z-index: 2;
}

.dj-card:hover img {
  opacity: 0.4;
  transform: scale(1.1);
}

.dj-card:hover .card-tittle {
  opacity: 1;
}

/* Gallery Page */
.gallery-columns {
  column-count: 4;
  column-width: 200px;
  column-gap: 0;
  width: 100%;
}

.gallery-columns li {
  break-inside: avoid;
  width: 200px;
  height: auto;
  padding: 0.25em;
}

.gallery-columns img {
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

figure h3 {
  font-family: var(--font-tittle-1);
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
  display: flex;
  justify-content: center;
}

.memories figcaption {
  display: none;
}


#modal-gallery {
  position: fixed;
  z-index: 1;
  top: 22%;
  left: 20%;
  width: 60vw;
  height: 70vh;
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  overflow: hidden;
}

#modal-gallery > figure {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

#modal-gallery > figure > * {
  width: 40%;
  max-width: 600px;
  align-self: center;
  border-radius: 1em;
}

#modal-gallery > i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #FFFFFF;
}


/* Tickets page */
#tickets-conteiner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 17vw;
  margin-right: 17vw;
  flex-wrap: nowrap;
  gap: 2em;
}

.ticket-options {
  max-width: 25em;
  height: 36em;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 1em;
  overflow: hidden;
  text-decoration: none;
  /* color: #FFFFFF; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ticket-options img {
    width: 25em;
    max-height: 14em;
    height: auto;
}

.ticket-options div p{
  font-size: 0.9em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.ticket-options div h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family: var(--font-tittle-1);
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

/* Buying Page */
#contenedor-buying {
  height: 9em;
}

#contenedor-buying, #calendar, #more-info {
  border-radius: 1.5em;
  background-color: rgb(255, 255, 255, 0.2);
  height: auto;
  position: relative;
  padding: 19px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 2em;
  overflow: hidden;
  margin: 2em;
  width: 40em;
}

#pass {
  display: flex;
  flex-direction: row;
  gap: 5em;
  align-items: center;
}

#pass h2 {
  margin: 0;
}

.ticket-price {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

#less-tickets, #number-of-tickets, #more-tickets {
  font-size: 1.5rem;
  color: #FFFFFF;
  font-family: var(--font-tittle-1);
}

#less-tickets, #more-tickets { 
  background-color: rgb(0, 0, 0, 0.4);
  border: none;
  cursor: pointer;
  border-radius: 2em;
  padding: 0.5em 0.8em;
}

#ticket-icon {
  font-size: 2em;
}

.total-price, .confirm {
  font-size: 1.2rem;
    font-family: var(--font-tittle-1);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: rgb(0, 0, 0, 0.4);
    padding: 0.7em 2em;
    border-radius: 2em;
    border: none;
}

#calendar h2 {
  margin: 0;
}

#calendar div {
  width: 36em;
}

table {
  width: 36em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

thead {
  display: flex;
}

td {
 font-family: var(--text-font);
    text-align: center;
    color: #FFFFFF;
    padding: 4px;
    width: 5em;
    height: 3em;
}

#days-number td {
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 1em;
}

#days-number td:first-child, #days-number td:last-child{
  background-color: rgb(0, 0, 0, 0);
}

#days-number td:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

#days-number td:first-child:hover, #days-number td:last-child:hover {
  background-color: rgb(255, 255, 255, 0);
}

#days-number td.number.selected {
  background-color: rgb(255, 255, 255, 0.2);
  color: #FFFFFF;
  font-weight: bold;
  border-radius: 1em;
  animation: gradientShift 6s ease infinite alternate;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.number {
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.number.selected {
  background-color: rgba(255, 255, 255, 0.2);
  /* color: black;
  border-radius: 8px; */
}


form {
  display: flex;
  flex-direction: column;
  width: 36em;
  gap: 2em;
}

.label {
    display: none;
}

#name, #surname, #email, #phone-number {
  /* color:#141414; */
  height: 3em;
  border-radius: 3em;
  background-color: rgb(255, 255, 255, 0.6);
  padding-left: 1em;
  border: none;
  font-family: var(--text-font);
}

.total-summary {
  font-size: 1rem;
  font-family: var(--text-font);
  /* display: flex; */
  /* align-items: center; */
  color: #FFFFFF;
  /* background-color: rgb(0, 0, 0, 0.4); */
  padding: 0.7em 2em;
  border-radius: 2em;
}

#modal-tickets {
    position: fixed;
    z-index: 1;
    top: 22%;
    /* left: 20%; */
    width: 30vw;
    height: 60vh;
    background-color: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(12px);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    overflow: hidden;
    padding: 2em;
}

#modal-tickets h2{
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

#back-home{
  font-size: 1.2rem;
    font-family: var(--font-tittle-1);
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0.3);
    padding: 0.7em 2em;
    border-radius: 2em;
    border: none;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
  background: radial-gradient(circle at 20% 20%, #ff0050 0%, transparent 50%), radial-gradient(circle at 80% 80%, #00ffed 0%, transparent 50%), radial-gradient(circle at 20% 80%, #ffed00 0%, transparent 50%), radial-gradient(circle at 80% 20%, #9b00ff 0%, transparent 50%);
  transition: opacity 0.5s ease, transform 5s ease;
  z-index: 0;
  border-top-left-radius: 6em;
  border-top-right-radius: 6em;
}

#logo-footer {
  height: 3em;
  margin-top: 6em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-footer img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.social-webs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 7em;
  margin-bottom: 2em;
}

.social-webs a {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  color: #FFFFFF;
}

.social-webs li {
  list-style: none;
  display: flex;
}

#sponsors img{
  width: 80vw;
}


/* TABLET */
@media (max-width: 1024px) {

  p {
    font-size: clamp(16px, 1.8vw, 19px);
    margin-left: 1em;
    margin-right: 1em;
  }

  body {
    background-image: url('../img/fondo header TABLET.svg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

  #menu {
    width: calc(100vw - 4em);
    height: 3em;
    padding: 2em;
  }

  /* #logo-menu {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 2.5em;
  } */

  /* #logo-menu img {
    height: 45%;
  } */

  /* #nav-menu {
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 2.5em;
  } */

  /* #nav-menu ul {
    gap: 2em;
  }

  #nav-menu a {
    font-size: clamp(11px, 1.6vw, 13px);
  } */

  .info {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .info h2 {
    font-size: 2.5em;
}

  #who img {
    width: 80%;
  }

  #fest img {
    width: 100%;
  }

  #inicio .tipo1 {
    font-size: clamp(1.5rem, 6vw, 4rem);
  }

  #inicio .tipo2 {
    font-size: clamp(2rem, 7vw, 4.5rem);
  }

  .tipo3 {
    font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  }

  #location {
    width: 90%;
    height: 50vh;
  }

  .djs-imgs {
    gap: 15px;
    padding: 20px;
  }

  .dj-card {
    max-width: 13em;
    background-color: rgb(0, 0, 0);
  }

  .dj-card img {
    opacity: 0.8;
  }

  .card-tittle {
    font-size: clamp(0.9em, 2.5vw, 1.2em);
    opacity: 1;
  background: linear-gradient(90deg, #ff0050, #00ffed, #ffed00, #9b00ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
  }

  figure h3 {
    font-size: 2em;
}

  .message {
    font-size:22px;
  }

  #modal {
    top: 35%;
    left: 12%;
    width: 77vw;
    height: 35vh;
  }

  #modal > figure {
    width: 100%;
  }

  #modal > figure > * {
    width: 80%;
    max-width: 600px;
  }

  #modal > figure img {
    display: none;
  }

  #tickets-conteiner {
    flex-direction: column;
  }

  .ticket-options {
    max-width: 35em;
    height: 40em;
  }

  .ticket-options img {
    width: 35em;
    max-height: 19em;
}



  footer {
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
  }

  #sponsors img {
    width: 90vw;
  }

  .social-webs {
    gap: 1.5em;
  }

  .social-webs a {
    font-size: clamp(1.3rem, 4vw, 2rem);
  }
}

/* MÓVIL */
@media (max-width: 767px) {

  body {
    background-image: url('../img/fondo header MOVIL.svg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }

#nav-menu {
    padding-left: 0.9em;
    padding-right: 0.9em;
    border-radius: 10em;
}
   
  #nav-menu > div:first-child > i {
      display: block;
      cursor: pointer;
      color: white;
      font-size: 1.5rem;
   }

  #nav-menu > div:first-child > ul {
        position: fixed;
        top: 27vh;
        /* left: -16.7em; */
        right: 100vw;
        width: 100vw;
        height: 30vh;
        z-index: 1;
        padding: 30% 0;
        gap: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle at 20% 20%, #ff0050 0%, transparent 50%), radial-gradient(circle at 80% 80%, #00ffed 0%, transparent 50%), radial-gradient(circle at 20% 80%, #ffed00 0%, transparent 50%), radial-gradient(circle at 80% 20%, #9b00ff 0%, transparent 50%);
        backdrop-filter: blur(12px);
        transition-duration: 1s;
        flex-direction: column;
        border-radius: 2em;
    }

  #nav-menu > div:first-child > ul li a {
    color: #FFFFFF;
    font-size: 1.8rem;
    text-decoration: none;
   font-family: var(--font-tittle-1);
  }

  .current_page {
    background: #FFFFFF;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 300%;
}

  #nav-menu > div:first-child > ul > li:last-child {
    display: block;
    position: absolute;
    right: 2em;
    top: 2em;
  }

  #nav-menu > div:first-child > ul > li:last-child > i {
    color: white;
    font-size: 2em;
    cursor: pointer;
  }

  #nav-menu a:hover {
  background: #141414;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300%;
  animation: gradientShift 6s ease infinite alternate;
}

.fa-solid, .fas {
    font-weight: 900;
}


#only-section > div .tipo1 {
    font-size: 2.5em;
}

#only-section > div .tipo2 {
    font-size: 3em;
}

  #who img {
    width: 100%;
  }

  .dj-card {
        max-width: 8.5em;
  }

  .info h2 {
  font-size: 1.3em;
  }

  .gallery-columns li {
    width: 160px;
  }

  .gallery-columns {
    column-count: 2;
    column-width: 150px;
    column-gap: 0;
    width: 100%;
  }
  .gallery-columns img {
    max-width: 160px;
  }

  #modal {
    top: 35%;
    left: 11%;
    width: 80vw;
    height: 45vh;
  }

  figure h3 {
    font-size: 1.4em;
  }

  .message {
    font-size: 19px;
  }

  #modal > figure {
    width: 100%;
  }

  #modal > figure > * {
    width: 80%;
    max-width: 600px;
  }

  #modal > figure img {
    display: none;
  }

  .ticket-options {
    max-width: 20em;
    height: 40em;
  }

  .ticket-options img {
    width: 25em;
    max-height: 14em;
  }

}
