@font-face {
  font-family: 'AvicciText1';
  src: url('../fonts/VerminVibes2Soft-grr4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'AvicciText2';
  src: url('../fonts/Avicii-lOn5.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
 body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

header {
  background-color: #000000;
}
header > p {
  font-family: 'AvicciText1', sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

#menu > div:first-child > ul > li {
  list-style: none;
}