
/* Cosas en común entre los 3 html */
@font-face {
  font-family: 'AviciiText1';
  src: url('../fonts/VerminVibes2Soft-grr4.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AviciiText2';
  src: url('../fonts/Avicii-lOn5.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --font-tittle-1: 'AviciiText1', sans-serif;
  --font-tittle-2: 'AviciiText2', sans-serif;
  --text-font: 'Lato', sans-serif;
}

p {
  font-family: var(--text-font);
  font-size: clamp(14px, 1.5vw, 18px);
  color: #FFFFFF;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-image: url('../img/fondo header.svg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw - 7em);
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em; 
  /* background: transparent;  */
  z-index: 1000;
}

#logo-menu{
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  overflow: hidden;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  height: 3em;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#logo-menu img {
  height: 50%;
  width: auto;
  object-fit: cover;
}

#nav-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 5em;
  height: 3em;
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);  
}

#nav-menu > div:first-child > i,
#nav-menu > div:first-child > ul > li:last-child {
  display: none;
}

#nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 3em;
}

#nav-menu a {
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: clamp(12px, 2vw, 14px);
  color: rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight: 700 !important;
}

#nav-menu a:hover {
  color: #141414;
}

#only-section {
  width: 100%;
  height: 600vh;
  background-color: rgb(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info {
  /* background-image: url(../img/who-was-avicii.png); */
  /* height: auto; */
  /* margin-top: 15em; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 17vw;
  margin-right: 17vw;
}

#inicio{
  /* width: 100%; */
  height: 100vh;
  }

#who, #fest, #where {
  margin-top: 5em;
  margin-bottom: 5em;
}

#only-section > div h1, h2{
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

#only-section > div .tipo1{
  font-size: clamp(2rem, 7.5vw, 5.5rem);
}

#only-section > div .tipo2{
  font-size: clamp(2.5rem, 8vw, 6rem);
}

.tipo1 {
  font-family: var(--font-tittle-1);
}

.tipo2 {
  font-family: var(--font-tittle-2);
}

.tipo3 {
  font-family: var(--text-font);
  font-size: clamp(1rem, 3vw, 2rem);
  margin-top: 1em;
}

.info h2 {
  font-family: var(--font-tittle-1);
  font-size: clamp(1rem, 3vw, 2rem);
  color: #FFFFFF;
  margin-bottom: 0.5em;
  text-align: center;
}

/* Para invertir la "V" de AVICII */
.mirror {
  display: inline-block;
  transform: scaleX(-1);
  margin: 0 2px 0 -2px;
}

#mirror1 {
  margin: 0 4px 0 -4px;
}

.alt-font {
  font-family: var(--font-tittle-2);
  margin-left: 8px;
}

#who img {
  width: 50%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius:5%
}

#fest img {
  width: 70%;
  height: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius:5%
}

#location{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
  height: 60vh;
  width: 80%;
}

#location iframe {
  width: 100%;
  height: 100%;
  border-radius:5%
}

/* Contenedor general */
.djs-imgs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

/* Tarjetas individuales */
.dj-card {
  width: 100%;
  max-width: 15em;
  background-color: rgb(14, 14, 14);
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  display: block;
  position: relative;
}

/* Imagen dentro de la tarjeta */
.dj-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.card-tittle {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgb(255, 255, 255);
  padding: 0 10px;
  text-align: center;
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
  font-weight: bolder;
  opacity: 0;
  transition: opacity 0.3s ease;
  font-family: var(--font-tittle-1);
  font-size: clamp(1em, 3vw, 1.5em);
}

/* animación hover */
.dj-card:hover img {
  opacity: 0.4;
  transform: scale(1.1);
}
.dj-card:hover .card-tittle {
  opacity: 1;
}
/* animación hover */